.card {
  width: 600px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  gap: 10px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
  }

  &__img {
    width: 100%;
    max-height: 400px;
  }
}
